# Private
# pre-filled google froms
# to get the google form links follow this guide  https://webjeda.com/blog/google-pre-filled-forms
# this is what the links should look like

Linefollower_google_Form_Link="https://docs.google.com/forms/d/e/<formid>/formResponse?usp=pp_url&entry.<entryid>={robotName}&entry.<entryid>={teamSize}&entry.<entryid>={teamLeaderName}&entry.<entryid>={teamLeaderPhoneNumber}&entry.<entryid>={otherPhoneNumber}&entry.<entryid>={teamLeaderEmail}&entry.<entryid>={secondTeamMemberName}&entry.<entryid>={secondTeamMemberPhoneNumber}&entry.<entryid>={secondTeamMemberEmail}&entry.<entryid>={thirdTeamMemberName}&entry.<entryid>={thirdTeamMemberPhoneNumber}&entry.<entryid>={thirdTeamMemberEmail}&entry.<entryid>={establishmentName}&entry.<entryid>={clubName}&submit=Submit"
Junior_google_Form_Link="https://docs.google.com/forms/d/e/<formid>/formResponse?usp=pp_url&entry.<entryid>={robotName}&entry.<entryid>={teamSize}&entry.<entryid>={teamLeaderName}&entry.<entryid>={teamLeaderPhoneNumber}&entry.<entryid>={otherPhoneNumber}&entry.<entryid>={teamLeaderEmail}&entry.<entryid>={secondTeamMemberName}&entry.<entryid>={secondTeamMemberPhoneNumber}&entry.<entryid>={secondTeamMemberEmail}&entry.<entryid>={thirdTeamMemberName}&entry.<entryid>={thirdTeamMemberPhoneNumber}&entry.<entryid>={thirdTeamMemberEmail}&entry.<entryid>={establishmentName}&entry.<entryid>={clubName}&submit=Submit"
Autonomous_google_Form_Link="https://docs.google.com/forms/d/e/<formid>/formResponse?usp=pp_url&entry.<entryid>={robotName}&entry.<entryid>={teamSize}&entry.<entryid>={teamLeaderName}&entry.<entryid>={teamLeaderPhoneNumber}&entry.<entryid>={otherPhoneNumber}&entry.<entryid>={teamLeaderEmail}&entry.<entryid>={secondTeamMemberName}&entry.<entryid>={secondTeamMemberPhoneNumber}&entry.<entryid>={secondTeamMemberEmail}&entry.<entryid>={thirdTeamMemberName}&entry.<entryid>={thirdTeamMemberPhoneNumber}&entry.<entryid>={thirdTeamMemberEmail}&entry.<entryid>={establishmentName}&entry.<entryid>={clubName}&submit=Submit"
Allterrain_google_Form_Link="https://docs.google.com/forms/d/e/<formid>/formResponse?usp=pp_url&entry.<entryid>={robotName}&entry.<entryid>={teamSize}&entry.<entryid>={teamLeaderName}&entry.<entryid>={teamLeaderPhoneNumber}&entry.<entryid>={otherPhoneNumber}&entry.<entryid>={teamLeaderEmail}&entry.<entryid>={secondTeamMemberName}&entry.<entryid>={secondTeamMemberPhoneNumber}&entry.<entryid>={secondTeamMemberEmail}&entry.<entryid>={thirdTeamMemberName}&entry.<entryid>={thirdTeamMemberPhoneNumber}&entry.<entryid>={thirdTeamMemberEmail}&entry.<entryid>={establishmentName}&entry.<entryid>={clubName}&submit=Submit"
notify_email_google_Form_Link = "https://docs.google.com/forms/d/e/<formid>/formResponse?usp=pp_url&entry.<entryid>={email}&submit=Submit"

# cloudflare tunside recaptcha
# just google "cloudflare tunside" and follow the instructions on cloudflare website

PRIVATE_recaptcha_secret_key="<cloudflare tunside Private key>"
PUBLIC_recaptcha_site_key="<cloudflare tunside Public key>"